environment/build/*
environment/test/userPreferences.*
environment/.vs/*
environment/Objs/*
environment/test/Plugins/Environment.bundle/Contents/Windows64/Environment.exp
environment/test/Plugins/Environment.bundle/Contents/Windows64/Environment.lib
